<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="assets/logo.png" alt="Logo Udemy" height="30" />
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar placeholder="Buscar cualquier cosa"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Enseña en Udemy
      </ion-button>
      <ion-button>
        Udemy Business
      </ion-button>
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button class="login-button">
        Iniciar sesión
      </ion-button>
      <ion-button class="register-button">
        Regístrate
      </ion-button>
    
      <ion-button class="language-button">
      <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>